body {
    font-family: Arial, sans-serif;
    margin: 20px;
    text-align: center;
}

h1 {
    color: #333;
}

select,
input {
    margin-bottom: 10px;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input:focus,
select:focus {
    border-color: #008CBA;
    outline: none;
}

ul {
    list-style-type: none;
    padding: 0;
}

.event {
    padding: 15px;
    margin: 5px;
    background-color: #f4f4f4;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: transform 0.2s ease-in-out;
}

.event:hover {
    transform: scale(1.05);
}

.register-btn {
    background-color: #008CBA;
    color: white;
    border: none;
    padding: 8px 12px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.3s ease-in-out;
}

.register-btn:hover {
    background-color: #005f73;
}